@font-face {
    font-family: Zector;
    src: url("../fonts/zect.otf");
}

@font-face {
    font-family: Norm;
    src: url("../fonts/norm.ttf");
}

@font-face {
    font-family: Future;
    src: url("../fonts/future.ttf");
}

body {
    font-family: Norm;
    background-color: black;
    color: white;
    margin: 0;
}

div {
    align-items: center;
}

h1 {
    font-family: Future;
    font-size: 64px;
    color: white;
    text-align: center;
    letter-spacing: -0.2em;
}

p {
    font-family: Norm;
    font-size: 24px;
    color: #cccccc;
    text-align: center;
}

h2 {
    font-family: Norm;
    font-size: 48px;
    color: #eeeeee;
    text-align: center;
    font-weight: normal;
}

h3 {
    font-family: Norm;
    font-size: 48px;
    color: #dddddd;
    text-align: center;
    font-weight: normal;
}

span {
    background-color: #484b4a;
}

.verticalSeparator {
    height: 22px;
    width: 100%;
}

.horizontalSeparator {
    height: 100%;
    width: 22px;
}

#nav {
    background-color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
}

#nav ul {
    margin: 0%;
    margin-block: 0em;
    padding: 0;
}

#nav li {
    font-family: Zector;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 24.5%;
    float: left;
    display: inline;
    text-align: center;
}

#nav li:last-child {
    border-right: none;
}

#nav li a {
    font-family: Zector;
    font-size: 24px;
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
    border-right: 1px solid #cccccc;
}

#nav li a:hover {
    background-color: #484b4a;
}

#here {
    background-color: #484b4a;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 48px;
    width: 100%;
    padding: 10px;
    background-color: #484b4a;
    color: #cccccc;
    text-align: center;
    align-content: center;
}

#footer div {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.social {
    align-items: center;
}

.social p {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.socialLogo {
    vertical-align: middle;
    width: 50px;
}

#landing {
    margin: auto;
    width: 1080px;
    height: 700px;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url('../images/pictures/123856814_715444572741182_3706431930753661661_n.jpg');
}

#title {
    position: sticky;
    top: 0;
    background-color: black;
}

#event {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url('../images/event\(edit\).jpg');
}

#event div {
    width: 800px;
    height: 400px;
}

#mask {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#mask-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    text-align: center;
}

#mask-link a {
    font-family: Zector;
    font-size: 24px;
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

#mask-link a:hover {
    background-color: #484b4a;
}

#spotify {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#spotify-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    text-align: center;
}

#spotify-link a {
    font-family: Zector;
    font-size: 24px;
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

#spotify-link a:hover {
    background-color: #484b4a;
}

#nav-filler {
    height: 44px;
    width: 100%;
}

#footer-filler {
    height: 68px;
    width: 100%;
}

.gallery {
    width: 100%;
    height: auto;
}

#gallery {
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid #cccccc;
    float: left;
    width: 40%;
}

.disc {
    color: #dddddd;
    font-size: 28px;
    vertical-align: middle;
    width: 70%;
    margin-left: auto;
}

.disc img {
    vertical-align: middle;
}

.album {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}